* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.d-flex {
    display: flex;
}

.container {
    height: 100vh;
    width: 100%;
    min-width: 900px;
    min-height: 350px;
    max-height: 800px;
    padding: 15vh 10vw;
}
/* INIZIO container immagine principale */
.main-img-container {
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    height: 100%;
    max-width: 800px;
    background-size: cover;
}
.main-img-container [class *= 'img--'] {
    height: 100%;
    width: 100%;
}
.text-div {
    position: absolute;
    gap: 0.2rem;
    padding: 1.5rem;
    flex-direction: column;
    color: white;
    text-align: right;
}
#div-image {
    height: 100%;
    width: 100%;
}
span.title {
    font-size: 1.3rem;
    font-weight: bold;
}

.main-img-container p {
    font-size: 1rem;
}
/* INIZIO container immagine principale */
/* INIZIO container thumbnails */
.thumbnails-menu {
    position: relative;
    flex-direction: column;
    width: 20%;
    height: 100%;
    max-width: 150px;
}
.thumbnails-item {
    filter:brightness(0.5);
}
.thumbnails-item.active {
    filter:brightness(1);
    border: 0.15rem solid lightgrey;
}
.thumbnails-menu .arrow-up,
.thumbnails-menu .arrow-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: grey;
    background-color: lightgrey;
    padding: 0rem 0.15rem;
    border-radius: 50%;
}
.thumbnails-menu .arrow-up {
    top: 10px; 
}
.thumbnails-menu .arrow-down {
    bottom: 10px; 
}
.thumbnails-menu .arrow-up:hover,
.thumbnails-menu .arrow-down:hover {
    cursor: pointer;
}
/* FINE container thumbnails */